<div class="header">
    <div>
        <mat-icon aria-hidden="false" class="padding-6" class="menu padding-6" (click)="uiService.toggleSidebar()">menu
        </mat-icon>
    </div>
    <div *ngIf="fs.loggedIn && fs.user" class="user-info-box">
        <div>Hello {{ fs.user.fullname }}</div>
        <img *ngIf="fs.user.image; let url" [src]="url" [matMenuTriggerFor]="menu" class="userImg padding-6">
        <img *ngIf="!fs.user.image" src="/assets/img/avatar.png" [matMenuTriggerFor]="menu" class="userImg padding-6">
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="uiService.toggleProfile()">open profile</button>
            <button mat-menu-item (click)="fs.logout()">Logout</button>
        </mat-menu>
    </div>
</div>