h4 {
    margin: 0;
}

mat-form-field {
    width: 100%;
}


.mat-green {
    background-color: #007a5a !important;
    color: #fff;
}

.mat-red {
    background-color: #8d0803 !important;
    color: #fff;
}

.tooltip {
    background-color: #8d0803;
}