<mat-card class="login-card">
    <img src="./assets/img/logo.png" alt="LOGO">
    <mat-tab-group animationDuration="250ms">
        <mat-tab label="Login">
            <div class="login-mail-container">
                <form [formGroup]="loginForm"
                    (ngSubmit)="fs.loginMail(this.loginForm.value.email, loginForm.value.pwd)">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="example@example.com" formControlName="email" required>
                            <mat-error *ngIf="loginForm.get('email')">{{getLoginErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="pwd" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit"
                        class="btl-login-mail">Login</button>
                </form>
            </div>
        </mat-tab>

        <mat-tab label="Sign up" #tabsignup>
            <div class="login-mail-container">
                <form [formGroup]="signUpForm" (ngSubmit)="fs.signUp(this.signUpForm.value.email, signUpForm.value.pwd, signUpForm.value.username)">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter username</mat-label>
                            <input matInput placeholder="Jane Doe" formControlName="username" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="example@example.com" formControlName="email" required>
                            <mat-error *ngIf="signUpForm.get('email')">{{getSignUpErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="pwd" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        </mat-form-field>
                    </div>
                    <button [disabled]="!signUpForm.valid" mat-raised-button color="primary" type="submit"
                        class="btl-login-mail">Sign up</button>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="other-auth-area" *ngIf="!tabsignup.isActive">
        <h3></h3>
        <button mat-raised-button (click)="fs.loginGoogle()">
            <mat-icon>account_circle</mat-icon>Login with Google
        </button>
    </div>
</mat-card>