<div class="channels"
    [ngStyle]="{'background-color': uiService.bg_dark_color, 'color': uiService.font_lowlight_color   }">

    <div class="element_header" [ngStyle]="{'border-bottom': '2px solid' + uiService.bg_lighter_color}">
        <p>UnserSchönerSpace</p>
        <span (click)="uiService.toggleSidebar()" class="material-icons">close</span>
    </div>
    <div class="accordion_wrapper">
        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel
                [ngStyle]="{'background-color': uiService.bg_dark_color, 'color': uiService.font_lowlight_color  }"
                class="sidebar_wrapper_element" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                [expanded]="true">
                <mat-expansion-panel-header class="sidebar_wrapper_header" (mouseenter)="mouseEnter('iconVisible1')"
                    (mouseleave)="mouseLeave('iconVisible1')">
                    <mat-panel-title [ngStyle]="{'color': uiService.font_lowlight_color}">
                        Channels
                    </mat-panel-title>
                    <span [ngStyle]="{'color': uiService.font_lowlight_color}"
                        (click)="openChannelDialog(); $event.stopPropagation()" class="material-icons add-button"
                        *ngIf="iconVisible1">add</span>
                </mat-expansion-panel-header>
                <div class="hover accordion_element" *ngFor=" let channel of this.channelService.channelCollection ">
                    <div class="flex_cc"># </div>
                    <div class="flex_channel">{{ channel.title }}</div>
                    <div class="material-icons" (click)="editChannel(channel.docID)">edit</div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <hr class="h_line" [ngStyle]="{'background-color': uiService.bg_lighter_color}">
    <div class="accordion_wrapper">

        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel [ngStyle]="{'color': uiService.font_lowlight_color}" class="accordion_wrapper"
                (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
                <mat-expansion-panel-header class="sidebar_wrapper_header" (mouseenter)="mouseEnter('iconVisible2')"
                    (mouseleave)="mouseLeave('iconVisible2')">
                    <mat-panel-title [ngStyle]="{'color': uiService.font_lowlight_color}">
                        Directmessages
                    </mat-panel-title>
                    <span [ngStyle]="{'color': uiService.font_lowlight_color}"
                        (click)="openChatDialog(); testClick(); $event.stopPropagation()" class="material-icons"
                        *ngIf="iconVisible2">add</span>
                </mat-expansion-panel-header>
                <div class="hover accordion_element" *ngFor=" let chat of this.chatService.dmCollection ">
                    <div>Bild</div> {{getOtherUsersNames(chat.members)}}
                </div>
                <div class="hover accordion_element">
                    <div>Bild</div> chat
                </div>
                <div class="hover accordion_element">

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>