.channels {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
    width: 100%;
    background: var(--light-color);

    mat-expansion-panel {
        background: var(--light-color);
    }

}