<div class="channels">
    <div class="padding-6">
        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Channels
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p># weitere Channels</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="padding-6">
        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Directmessages
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Bild Chatpartner</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>