<mat-sidenav-container>
    <mat-sidenav-container class="animation_outer_wrapper">
        <div class="animation_wrapper">
            <div class="second_logoWrapper">
                <div class="second_quarterWrapper">
                    <div class="second_mainLineWrapper">
                        <div class="second_mainLine second_bgColorRed"></div>
                    </div>
                    <div class="second_sideLineWrapper">
                        <div class="second_sideLine second_bgColorRed"></div>
                    </div>
                </div>
                <div class="second_quarterWrapper second_transform90">
                    <div class="second_mainLineWrapper">
                        <div class="second_mainLine second_bgColorBlue"></div>
                    </div>
                    <div class="second_sideLineWrapper">
                        <div class="second_sideLine second_bgColorBlue"></div>
                    </div>
                </div>
                <div class="second_quarterWrapper second_transform270">
                    <div class="second_mainLineWrapper">
                        <div class="second_mainLine second_bgColorGreen"></div>
                    </div>
                    <div class="second_sideLineWrapper">
                        <div class="second_sideLine second_bgColorGreen"></div>
                    </div>
                </div>
                <div class="second_quarterWrapper second_transform180">
                    <div class="second_mainLineWrapper">
                        <div class="second_mainLine second_bgColorYellow"></div>
                    </div>
                    <div class="second_sideLineWrapper">
                        <div class="second_sideLine second_bgColorYellow"></div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-container>
    <app-header></app-header>
    <div *ngIf="fs.user" class="chat-flex" (mouseup)="stopResize()" (mousemove)="onResizing($event)">
        <app-sidebar class="sidebar_wrapper z_index_10"
            [ngStyle]="{'left': !uiService.showSidebar ? '-' + this.leftSidebar.width + 'px' : '0px', width: this.leftSidebar.width  + 'px'}"
            [ngClass]="{'transition': this.checkScreenWidth()}">
        </app-sidebar>
        <div class="resize_bar d_flex_end"
            [ngClass]="{'pos_abs': this.leftSidebar.positionAbsolute, 'd_none': this.uiService.handyMode, 'resize_bar_bgcolor': this.resizingLeft}"
            (mousedown)="startResize($event, 'left')"
            [ngStyle]="{'width': uiService.showSidebar ? this.leftSidebar.width + this.sliderWidth + 'px' : '0px'}">
            <span [ngStyle]="{'width': this.sliderWidth + 'px'}"></span>
        </div>
        <app-chat-main class="chat_main_wrapper" [ngStyle]="{'width': this.midContentWidth + 'px'}"></app-chat-main>


        <div class="sidebar_wrapper z_index_5"
            [ngStyle]="{'right': (!uiService.profile && !uiService.thread)  ? '-' + this.rightSidebar.width + 'px' : '0px', width: this.rightSidebar.width  + 'px' }"
            [ngClass]="{'transition': this.checkScreenWidth()}">
            <app-profile *ngIf="uiService.profile" class="side_component_wrapper"></app-profile>
            <app-chat-thread *ngIf="uiService.thread" class="side_component_wrapper"></app-chat-thread>
        </div>
        <div class="resize_bar d_flex_start" (mousedown)="startResize($event, 'right')"
            [ngClass]="{'pos_abs_right': this.rightSidebar.positionAbsolute, 'd_none': this.uiService.handyMode, 'resize_bar_bgcolor': this.resizingRight}"
            [ngStyle]="{'width': (uiService.profile || uiService.thread) ? this.rightSidebar.width + this.sliderWidth + 'px' : '0px'}">
            <span [ngStyle]="{'width': this.sliderWidth + 'px'}"></span>
        </div>
    </div>
</mat-sidenav-container>