mat-radio-group{

    display: flex;
    flex-direction: column;
    align-content: center;
     width: 480px;
 
     img{
         width: 470px;
         border-radius: 5px;
         margin-bottom: 6px;
     }
 }
 
 .dark-mode{
     margin-bottom: 16px;
 }

 .app-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
 }
 .design-dialog{
    height: auto;
    width: 500px;
    z-index: 5;
 }

 .material-icons{
    cursor: pointer;
 }

 .design-dialog-wrapper{
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: aqua;  
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
