<div class="app-wrapper">
  <div class="image-popup" *ngIf="this.uiService.showImg">
    <div class="img-wrapper">
      <div class="material-icons close-btn" (click)="this.uiService.closeImg()">close</div>
      <img src={{this.uiService.image}}>
    </div>
  </div>
  <div *ngIf="uiService.showDesign" class="design-dialog-wrapper">
    <mat-sidenav-container class="border">
      <div class="design-dialog">
        <span (click)="uiService.toggleDesign()" class="material-icons">close</span>
        <h2 mat-dialog-title> Change the look and feel of Slack across all your workspaces.
        </h2>
        <mat-radio-group class="background" aria-label="Select an option">
          <div class="dark-mode">
            <img src="assets/img/ligth_mode.png">
            <mat-radio-button name="color" value="light" [checked]="selectedTheme === 'li'"
              (change)="radioChangeHandler($event)">Light</mat-radio-button>
          </div>
          <div class="light-mode">
            <img src="assets/img/dark_mode.png">
            <mat-radio-button name="color" value="dark" [checked]="selectedTheme === 'dark'"
              (change)="radioChangeHandler($event)">Dark</mat-radio-button>
          </div>
        </mat-radio-group>
        <label  id="example-radio-group-label"><b class="headline">Pick your favorite color: </b></label>

        <div class="small">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group content"
            [(ngModel)]="favoriteColor">
            <div class="onecolor" *ngFor="let color of colors; let i=index">
              <img class="small_preview" src="{{images[i]}}">

              <mat-radio-button name="color" value="{{color}}" [checked]="color === favoriteColor"
                class="example-radio-button" [value]="color" (change)="radioChangeColor($event)">
                {{color}}
              </mat-radio-button>
            </div>

          </mat-radio-group>
        </div>
        </div>

    
    </mat-sidenav-container>
  </div>
  <router-outlet></router-outlet>
</div>