<div class="profile_wrapper" *ngIf="fs.user">

    <div class="profile_header">
        <p>profile</p>
        <span (click)="uiService.toggleProfile()" class="material-icons">close</span>
    </div>

     <div class="icon_edit">
        <span  class="material-icons">edit</span>
     </div>
    

    <img class="img_profile" src="/assets/img/avatar.png" alt="">

    <h1>Mike Swazzlebee -- woher soll das Feld kommen?</h1>

    <div class="profile_element">
        <p>My Job</p>
        <p>{{ fs.user.job }}</p>
    </div>
    <div class="profile_element">
        <p>Fullname</p>
        <p>{{ fs.user.fullname }}</p>
    </div>

    <hr>

    <h2>Contact</h2>

    <div class="contact_element">
        <span class="material-icons">email</span>
        <div>
            <p>email</p>
            <p>{{ fs.user.email }}</p>
        </div>
    </div>
    <div class="contact_element">
        <span class="material-icons">phone</span>
        <div>
            <p>phone</p>
            <p>{{ fs.user.phone }}</p>
        </div>
    </div>



</div>