<h2 mat-dialog-title>Change Profile</h2>
<mat-dialog-content class="mat-typography">
    <div class="profile-data">
        <h4>Fullname</h4>
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>

        <h4>Nickname</h4>
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>

        <h4>My Job</h4>
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>
    <div>
        <h4 class="mb-6">Profile image</h4>
        <img src="/assets/img/avatar.png" class="profile-image mb-6"><br>
        <input style="display: none" type="file" accept=".png,.jpg" #fileInput />
        <div class="ctrl-btn">
            <button mat-stroked-button (click)="fileInput.click()" class="mb-6">upload image</button>
            <span class="span-blue">delete image</span>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="saveProfile()" cdkFocusInitial color="green">Save</button>
</mat-dialog-actions>