/* You can add global styles to this file, and also import other style files */
:root {
    --dark-color: #24252B;
    --light-color: #FFDB58;
}

html,
body {
    height: 100%;
    overflow-y: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(255, 253, 253);
    background: linear-gradient(360deg, rgba(255, 253, 253, 1) 0%, var(--dark-color) 100%);
}

.access-denied {
    background-color: red;
    color: white;
    white-space: pre-wrap;
}

.padding-6 {
    padding: 6px;
}

.span-blue {
    color: #1264a3;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}