<h2 mat-dialog-title> Change the look and feel of Slack across all your workspaces.
</h2>


<mat-radio-group aria-label="Select an option">
    <div class="dark-mode">
        <img src="assets/img/ligth_mode.png">
        <mat-radio-button  name="color" value="ligth" (change)="radioChangeHandler($event)">Ligth</mat-radio-button>
    </div>
    <div class="ligth-mode">
        <img src="assets/img/dark_mode.png">
        <mat-radio-button  name="color" value="dark" (change)="radioChangeHandler($event)">Dark</mat-radio-button>
    </div>
</mat-radio-group>