<div class="chat-main"
    [ngStyle]="{'background-color': uiService.bg_light_color, 'color': uiService.font_lowlight_color}">
    <div class="element_header" [ngStyle]="{'border-bottom': '2px solid' + uiService.bg_lighter_color}">
        <p>{{this.fcctService.midContent.header}}</p>
    </div>
    <div *ngIf="this.fcctService.midContent.messages.length == 0">nothing in here</div>

    <div *ngFor="let message of this.fcctService.midContent.messages" class="message">
        <div class="profilpicture">
            <img class="avatar" src="">
        </div>
        <div class="message-body">
            <div class="header">
                <h4>{{message.creator}}</h4>
                <h5>{{getTimeOfMessage(message.timestamp)}}</h5>
            </div>
            {{message.message}}
            <button (click)="this.fcctService.openThread(message.timestamp)">open Thread</button>
        </div>
    </div>
</div>



<div class="editor">
    <editor [(ngModel)]="noteText" (ngModelChange)="getContentOfEditor()"
        apiKey="tcf6s96vi3ln7h1sgtod2tzjhnfnrgsypmimricsl27j6wc9" [init]="{
        height: 200,
        menubar: false,
        selector: '',
        base_url: '/tinymce',
        suffix: '.min',
        plugins: [
          'emoticons', 'lists', 'link'
        ],
        toolbar:
          'undo redo | link | bold italic backcolor | \
          bullist numlist | removeformat | emoticons ',
          emoticons_database: 'emojis'
      }">
    </editor>
    <div class="message-controller">
        <input style="display: none" type="file" accept=".png,.jpg" #fileInput (change)="upload($event)" />
        <div class="control-upload-img material-icons" (click)="fileInput.click()">upload</div>
        <button class="control-send-msg material-icons" [class.dirty]="noteText" (click)="addMessage()"
            [disabled]="!noteText">send</button>
    </div>
</div>