<div class="chat-main"
    [ngStyle]="{'background-color': uiService.bg_light_color, 'color': uiService.font_lowlight_color}">
    <div class="element_header" [ngStyle]="{'border-bottom': '2px solid' + uiService.bg_lighter_color}">
        <p>CHANNELNAME</p>
    </div>

    <p>Chat-Main Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, sunt magni corrupti velit dolore,
        praesentium quia dolor alias recusandae omnis quibusdam, in eligendi distinctio! Delectus dolore ipsa doloribus
        magnam nesciunt!</p>
    <button (click)="uiService.toggleThread()">open thread</button>
</div>

<div class="editor">
    <editor [(ngModel)]="noteText" (ngModelChange)="getContentOfEditor()"
        apiKey="tcf6s96vi3ln7h1sgtod2tzjhnfnrgsypmimricsl27j6wc9" [init]="{
        height: 200,
        menubar: false,
        selector: '',
        base_url: '/tinymce',
        suffix: '.min',
        plugins: [
          'emoticons', 'lists', 'link', 'image'
        ],
        toolbar:
          'undo redo | link | image | bold italic backcolor | \
          bullist numlist | removeformat | emoticons ',
          emoticons_database: 'emojis'
      }">
    </editor>
    <div class="message-controller">
        <input style="display: none" type="file" accept=".png,.jpg" #fileInput (change)="upload($event)" />
        <div class="control-upload-img material-icons" (click)="fileInput.click()">upload</div>
        <button class="control-send-msg material-icons" [class.dirty]="noteText" (click)="sendMsg()"
            [disabled]="!noteText">send</button>
    </div>
</div>