.mat-green {
    background-color: #007a5a;
    color: #fff;
}

mat-form-field {
    width: 100%;
}

.tooltip {
    padding: 4px;
    border-radius: 6px;
    background-color: #8d0803;
    color: white;
}

